# Bukkit4Vanilla Access Transformer Configuration.
# Suffixing with -f makes something non-final.
# vim: set nobackup nowritebackup :

# CraftingManager
public wh.b # CraftingManager.recipes - so we can clear recipes.
public-f wh.a # CraftingManager.instance - to reset the CraftingManager
public wh.<init>()V # reset CraftingManager.

# DedicatedServer
public ho.o # DedicatedServer.settings - to reload the settings of the server

# World
public xv.G # World.spawnPeacefulMobs - world-by-world settings
public xv.F # World.spawnHostileMobs - world-by-world settings
public-f xv.v # World.provider - change environment (bukkit does this, god knows why)

# ServerConfigurationManager
public gm.k # lets us directly load player NBTTagCompounds for reading.

# Entity
# public lb.af # let us get if a creeper is powered or not (Entity.dataWatcher) - use getDataWatcher instead
public lq.d # let us get if an entity is on fire or not

# EntityThrowable
public rh.g # lets us set and get an EntityThrowable's throwing entity

# EntityPigZombie
public qk.d # lets us get and set a PigZombie's anger.

# Packet26EntityExperienceOrb
public cm.e # lets us get and set an XP orb's value.

# EntityLiving
public md.bi # lets us get and set the last damaging EntityPlayer
public md.bz # lets us get/set the last damage amount.
public md.bc # lets us get/set the XP worth of a LivingEntity.

# EntityPlayer
public qx.bY # sleeping

# EntityTracker
public ii.b # trackedEntities

# EntityPlayerMP
public iq.f # lets us look at the chunks

# BlockDispenser
public ajp.n(Lxv;III)V # dispense an item...

# ChunkProviderServer
public im.b(Lzs;)V # lets us save a __SINGLE__ chunk - safeSaveChunk
public im.b # lets us inspect chunks to unload
public im.d # currentChunkProvider
public im.c # default empty chunk
public im.f # long hash map of chunks
public im.g # loaded chunks

# PlayerManager
public ik.a(IIZ)Lil; # getOrCreateChunkWatcher


# PlayerInstance
public il.b # playersInChunk
public il

# InventoryLargeChest
public avi.o # Upper and lower parts of the chest
public avi.p # <-- (lower part)

# FoodStats
public ro.c # get exhaustionlevel

# PlayerCapabilities
public qv.g # set walk speed
